/* =================== */
/* ! footer override   */
/* =================== */

#access,
#record-log {
    float: right;
    color: #556C82;
    }
    #record-log .col1 {width:auto;}

#crm-container #civicrm-footer { 
    margin:0 0 3em 0;
    border-top: 0px;
    text-align: left;
    color:#556C82;
    }

/* ======================== */
/* ! layout & positioning   */
/* ======================== */

#bottom-wrapper {
    position: fixed;
    width:100%;
    bottom: 0px;
    height:23px;
    padding: 4px 0px;
    background: transparent url(../images/bottom-bg.jpg) repeat-x scroll left top;
    z-index: 20;
    border: 1px solid #CECECE;
    }

#bottom {
    position: relative;
    top:-20px;
    }

.bottom-element {
    margin-right: 18px;
    }
#quickadd {
    float: right;
    }
    
.bottom-element h3 {
    display: none;
    }    

.bottom-element a {
    color: #5E5F5F;
    text-decoration: none;
    }

/* ============== */
/* ! create new   */
/* ============== */

#create-new-record { 
    margin-left: 18px;
    float: left;
    }

#create-new-record #crm-create-new-list {
    bottom:28px;
    top:auto;
    background: transparent url(../images/icons/overlay-pointer.png) no-repeat scroll bottom left;
    padding: 0 0 5px 0;
    width: 140px;
    }
#create-new-record .dropdown-icon {
    background-position:2px -33px;
    }

/* ================ */
/* ! recent items   */
/* ================ */

#recent-items { 
    width: 960px;
    margin: 0px auto;
    }

#recent-items h3 {
    display: block;
    float: left;
    font-size: 11px;
    color: #666;
    font-weight: normal;
    margin:4px 0px
    }

#recent-items #recently-viewed li {
    background-color: transparent;
    border: none;
    float: left;
    margin-right:1em;
    }
    
    #recent-items div#recently-viewed a {
        color:#2786C2;
        position: relative;
        }

#recent-items .crm-loading-element { background-image:url("../images/loading-2f2f2e.gif"); width:20px; height:20px;}


/* ================ */
/* ! quick create   */
/* ================ */

#bottom #quickadd .block {
    position: relative;
    z-index: 15;
    top:-12px;
    margin:0px;
    }

#bottom #quickadd h3 { 
    display: block;
    -moz-border-radius: 	3px; 
	-webkit-border-radius: 	3px;   
	-khtml-border-radius: 	3px; 
	border-radius:			3px;
	background:#70716B url(../images/crm-button-bg.gif) repeat-x scroll left top;
    border:1px solid #3E3E3E;
    color:#FFFFFF;
    cursor:pointer;
    font-size:12px;
    font-weight:normal;
    margin-right:6px;
    padding:2px 6px;
    text-decoration:none;
    text-shadow:0 1px 0 black;
    }

#bottom #quickadd .form-item {
    margin:4px 0px;
    }

#bottom #quickadd .content {
    background:transparent url(../images/icons/overlay-pointer.png) no-repeat scroll 60px bottom;
    bottom:28px;
    padding:0 0 5px;
    top:auto;
    right:0px;
    z-index:9999;
    position: absolute;
    padding:0 0 5px;
    font-weight: normal;
    display: none;
    }


#bottom #quickadd #crm-quick-create {
    -moz-border-radius: 	4px; 
	-webkit-border-radius: 	4px;   
	-khtml-border-radius: 	4px; 
	border-radius:			4px; 
    padding:4px;
    background-color:#2F2F2E;
    color:#DFDFDF;
    }

#bottom #quickadd #crm-quick-create input.form-submit {
    border-color: #000;
    }
