div.messages {
  margin-bottom:0px;
  padding: 0.68em;
  font-weight: normal;
  border:none;
  border-left:2px solid;  
}


div.messages ul {
  margin-bottom: 0;
}

#status-handle {
	background: #f4edaf;
	height:16px;
	cursor: pointer;
	}
#status-handle .ui-icon {
	margin: 0px auto;
	background-image: url(../images/icons/ui-icons_454545_256x240.png);
	}

#status-handle {
	-moz-border-radius: 	0px 0px 4px 4px; 
	-webkit-border-radius: 	0px 0px 4px 4px;   
	-khtml-border-radius: 	0px 0px 4px 4px; 
	border-radius:			0px 0px 4px 4px; 
	}


/* hide messages before they are moved into our status div
 * unless they are inside a tab panel 
 * (cause they might get pulled by ajax and are context-sensitive 
 */
.messages {display: none;}
#status .messages,
#civicrm-dashboard .messages,
.ui-tabs-panel .messages {display:block;}


div.warning, .warning,
div.messages, .messages,
div.notice, .notice  {background:#f2f5c4;color:#ba980f;border-color:#fbca54;}
div.success, .success,
.messages-container .help,.messages-container #help  {background:#E6EFC2;color:#264409;border-color:#C6D880;}
div.error, .error, div.crm-error {background:#f5c4c4;color:#8d2c27;border-color:#8d2c27;}
.warning a,
.message a,
.notice a {color:#3e3e3e;}
.error a, .crm-error a {color:#8a1f11;}
.success a {color:#264409;}
